# Project information
site_name: Matematik for Softwareingeniører
site_url: https://rbrooksdk.github.io/MSE1_DK_25
site_author: Richard Brooks
site_description: Kursusside for Matematik for Softwareingeniører
docs_dir: .
site_dir: ../site
# Repository information
repo_name: Github
repo_url: https://github.com/RBrooksDK/MSE1_DK_25

# Copyright
copyright: Copyright &copy; 2025 Richard Brooks

# Configurations
theme:
  name: material
  language: da
  # custom_dir: overrides
  favicon: billeder/vialogo.png
  logo: billeder/vialogo.png
  icon:
    repo: fontawesome/brands/github
    annotation: material/chevron-right-circle
  features:
    - announce.dismiss
    - content.code.annotate
    - content.code.copy
    # - content.code.select
    # - content.footnote.tooltips
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    - navigation.expand
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.prune
    # - navigation.sections
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      accent: orange
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: custom
      accent: orange
      toggle:
        icon: material/toggle-switch-off
        name: Switch to light mode
  font:
    text: "VIA Type"
    code: "Roboto Mono"

plugins:
  - same-dir
  - blog
  - search
  - mkdocs_quiz:
      lang: da

# Extensions
markdown_extensions:
  - admonition
  - abbr
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
      toc_depth: 3
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      auto_append:
        - includes/mkdocs.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js
  - https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/js/all.min.js

extra:
  status:
    new: Recently added
    deprecated: Deprecated
  analytics:
    provider: google
    property: !ENV GOOGLE_ANALYTICS_KEY
  social:
    - icon: material/email
      link: mailto:rib@via.dk
    - icon: fontawesome/brands/github
      link: https://github.com/RBrooksDK/
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/rbrooks-dk/

extra_css:
  - stylesheets/extra.css

nav:
  - Forside: README.md
  - Sessioner:
    - Sessioner: Sessions/README.md
    - 01 Grundlæggende aritmetik og funktioner:
      - 01/README.md
      - M1 - Forberedelse: 01/M1.md
      - M2 - Undervisning 1: 01/M2.md
      - M3 - Øvelser og tutorials:
        - 01/M3/index.md
        - T1 - Regneregler: 01/M3/T1.md
      - M4 - Undervisning 2: 01/M4.md
    - 02 Talsystemer:
      - 02/README.md
      - M1 - Forberedelse: 02/M1.md
      - M2 - Undervisning 1: 02/M2.md
      - M3 - Øvelser tutorials: 02/M3.md
      - M4 - Undervisning 2: 02/M4.md
    - 03 Mængdelære: 03/README.md
    - 04 Kombinatorik og sandsynlighedsteori: 04/README.md
    - 05 Betingede sandsynligheder og Bayes' Teorem: 05/README.md
    - 06 Beskrivende Statistik: 06/README.md
    - 07 Introduktion til lineær algebra: 07/README.md
    - 08 Vektorer og matricer: 08/README.md
    - 09 Matrix algebra og determinanter: 09/README.md
    - 10 Differentiering af simple funktioner: 10/README.md
    - 11 Gradienter og partiel afledte: 11/README.md
    - 12 Afslutning og spørgetime: 12/README.md    
  - Videoer: pages/videos.md
  - Ressourcer: pages/online_resources.md
  - Eksamen: pages/exam.md
  - FAQ: pages/faq.md
  - Om: https://rbrooksdk.github.io